<div class="center">
    <div class='controls-group'>
      
    </div>

    <div class='controls-group'>
        <div>
            <input type="button" id="btnSignOut" class="btn-primary" value= "Order Summary" />
        </div>
    </div>
</div>